.head-section{
    background-color: black;
    text-align: left;
    
}

.logo{
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    width: 140px;
}
.deliver-div{
    display: inline-block;
}

.dropdown{
    display: inline-block;
    
}
.navbar navbar-light bg-light{
    width: 100px;

}
p{
    font-family:  'Amazon Ember', sans-serif;
}
.deliver-label{
    color:white;
    font-size: 12px;
    font-weight: 400px;
    margin-bottom: 0px;
    margin-top: 10px;
    
}
.location-label{
    color:white;
    font-size: 16px;
    font-weight: bold;

}
.search-bar{
    margin-left: 0px;
    width: 700px;
    height: 45px;
}
.search-button {
    width: 50px;
    height: 45px;
    background-color: rgb(217, 182, 8);
    margin-left: 0px;
    border-radius: 5px;
}
.search-button:hover{
    cursor: pointer;
    opacity: 80%;


}
.mid-section{
    background-color: rgb(27, 57, 67);
}
.carousel-section{
    
}

button{
    background-color:  rgb(27, 57, 67);
    color: white;
    border-style: none;
    
}